body {
  font-family: "Lucida Console", monospace;
  margin: 0;
}

section {
  background-color: #FFFFFF;
}

header{
  margin-top: 30px;
}

.top,footer{
  text-align: center;
  background-color: black;
  color: #FFFFFF;
  padding: 2%;
}

.bookmarks {
  background-color: #1a73f0;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.bookmarks:hower{
  background-color: #024db8;
}

.comics {
  padding-top: 20px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.column {
  float: left;
}

.main{
  width: 40%;
}

.photo{
  width: 20%;
}

.row{
  width: 100%;
  text-align: center;
  margin: 5% 20%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

